# üë®‚Äçüî¨ **Data Engineer Part**

This Notebook is just here to see the data and to do experiments. It's just a **draft** !

## **Initialisation**

In [1]:
import pandas as pd

In [2]:
# Data Loading
flights = pd.read_csv("Dataset/flights.csv")
airports = pd.read_csv("Dataset/airports.csv")
airlines = pd.read_csv("Dataset/airlines.csv")

C:\Users\natha\AppData\Local\Temp\ipykernel_10096\690839658.py:2: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv("Dataset/flights.csv")

In [3]:
# Display the columns
print(flights.columns)

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [4]:
# Display the first 5 lines
flights.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Display the columns
print(airlines.columns)

Index(['IATA_CODE', 'AIRLINE'], dtype='object')

In [6]:
# Display the first 5 lines
airlines.head(5)

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [7]:
# Joining flights and airlines
flights_merged = flights.merge(airlines, left_on='AIRLINE', right_on='IATA_CODE')
flights_merged.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IATA_CODE,AIRLINE_y
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,US,US Airways Inc.
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.

In [8]:
# Renaming AIRLINE_y to AIRLINE
flights_merged.rename(columns={'AIRLINE_y': 'AIRLINE'}, inplace=True)

# Deleting AIRLINE_x
flights_merged.drop(columns=['AIRLINE_x'], inplace=True)
flights_merged.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IATA_CODE,AIRLINE
0,2015,1,1,4,98,N407AS,ANC,SEA,5,2354.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.
1,2015,1,1,4,2336,N3KUAA,LAX,PBI,10,2.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.
2,2015,1,1,4,840,N171US,SFO,CLT,20,18.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,US,US Airways Inc.
3,2015,1,1,4,258,N3HYAA,LAX,MIA,20,15.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.
4,2015,1,1,4,135,N527AS,SEA,ANC,25,24.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.

## **Temporal puzzle** ‚è≥

In [9]:
flights_merged[['YEAR','MONTH','DAY','SCHEDULED_DEPARTURE']].head(10)

   YEAR  MONTH  DAY  SCHEDULED_DEPARTURE
0  2015      1    1                    5
1  2015      1    1                   10
2  2015      1    1                   20
3  2015      1    1                   20
4  2015      1    1                   25
5  2015      1    1                   25
6  2015      1    1                   25
7  2015      1    1                   30
8  2015      1    1                   30
9  2015      1    1                   30

In [10]:
# Converting columns SCHEDULED_DEPARTURE to string
flights_merged['SCHEDULED_DEPARTURE'] = flights_merged['SCHEDULED_DEPARTURE'].apply(str)
print(flights_merged['SCHEDULED_DEPARTURE'])

0             5
1            10
2            20
3            20
4            25
           ...
5819074    2359
5819075    2359
5819076    2359
5819077    2359
5819078    2359
Name: SCHEDULED_DEPARTURE, Length: 5819079, dtype: object

In [11]:
# Adding '00' to the rest of the number
flights_merged['SCHEDULED_DEPARTURE'] = flights_merged['SCHEDULED_DEPARTURE'].str.zfill(4)
flights_merged.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IATA_CODE,AIRLINE
0,2015,1,1,4,98,N407AS,ANC,SEA,0005,2354.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.
1,2015,1,1,4,2336,N3KUAA,LAX,PBI,0010,2.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.
2,2015,1,1,4,840,N171US,SFO,CLT,0020,18.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,US,US Airways Inc.
3,2015,1,1,4,258,N3HYAA,LAX,MIA,0020,15.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.
4,2015,1,1,4,135,N527AS,SEA,ANC,0025,24.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.

In [12]:
# Create a new columns with full date in string
flights_merged['DATE_STR'] = flights_merged['YEAR'].astype(str) + '-' + flights_merged['MONTH'].astype(str) + '-' + flights_merged['DAY'].astype(str)
flights_merged.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IATA_CODE,AIRLINE,DATE_STR
0,2015,1,1,4,98,N407AS,ANC,SEA,0005,2354.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.,2015-1-1
1,2015,1,1,4,2336,N3KUAA,LAX,PBI,0010,2.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,2015-1-1
2,2015,1,1,4,840,N171US,SFO,CLT,0020,18.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,US,US Airways Inc.,2015-1-1
3,2015,1,1,4,258,N3HYAA,LAX,MIA,0020,15.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,2015-1-1
4,2015,1,1,4,135,N527AS,SEA,ANC,0025,24.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.,2015-1-1

In [13]:
# Create a new column to merge date with time
flights_merged['STR_TIMESTAMP'] = flights_merged['DATE_STR'] + ' ' + flights_merged['SCHEDULED_DEPARTURE']
flights_merged.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IATA_CODE,AIRLINE,DATE_STR,STR_TIMESTAMP
0,2015,1,1,4,98,N407AS,ANC,SEA,0005,2354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.,2015-1-1,2015-1-1 0005
1,2015,1,1,4,2336,N3KUAA,LAX,PBI,0010,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,2015-1-1,2015-1-1 0010
2,2015,1,1,4,840,N171US,SFO,CLT,0020,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,US,US Airways Inc.,2015-1-1,2015-1-1 0020
3,2015,1,1,4,258,N3HYAA,LAX,MIA,0020,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,AA,American Airlines Inc.,2015-1-1,2015-1-1 0020
4,2015,1,1,4,135,N527AS,SEA,ANC,0025,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,AS,Alaska Airlines Inc.,2015-1-1,2015-1-1 0025

In [14]:
# Creating timestamp column
flights_merged['TIMESTAMP'] = pd.to_datetime(flights_merged['STR_TIMESTAMP'], format = '%Y-%m-%d' + ' ' + '%H%M')
flights_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 35 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   FLIGHT_NUMBER        int64
 5   TAIL_NUMBER          object
 6   ORIGIN_AIRPORT       object
 7   DESTINATION_AIRPORT  object
 8   SCHEDULED_DEPARTURE  object
 9   DEPARTURE_TIME       float64
 10  DEPARTURE_DELAY      float64
 11  TAXI_OUT             float64
 12  WHEELS_OFF           float64
 13  SCHEDULED_TIME       float64
 14  ELAPSED_TIME         float64
 15  AIR_TIME             float64
 16  DISTANCE             int64
 17  WHEELS_ON            float64
 18  TAXI_IN              float64
 19  SCHEDULED_ARRIVAL    int64
 20  ARRIVAL_TIME         float64
 21  ARRIVAL_DELAY        float64
 22  DIVERTED             int64
 23  CANCELLED            int64
 24  CANCELLATION_REASON  object
 25  AIR_SYSTEM_DELAY     float64
 26  SECURITY_DELAY       float64
 27  AIRLINE_DELAY        float64
 28  LATE_AIRCRAFT_DELAY  float64
 29  WEATHER_DELAY        float64
 30  IATA_CODE            object
 31  AIRLINE              object
 32  DATE_STR             object
 33  STR_TIMESTAMP        object
 34  TIMESTAMP            datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(9), object(9)
memory usage: 1.5+ GB

In [15]:
# Deleting columns DATE_STR and STR_TIMESTAMP
flights_merged.drop(columns=['DATE_STR', 'STR_TIMESTAMP'], inplace=True)

In [21]:
# Displaying all columns's name + creating new order of columns
cols = flights_merged.columns.tolist()
new_cols = cols[:4] + cols[-1:] + cols[-2:-1] + cols[4:-2]
print(new_cols)

['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'TIMESTAMP', 'AIRLINE', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'IATA_CODE']

In [23]:
# Creating the clean version
flights = flights_merged[new_cols]
flights.head(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,TIMESTAMP,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IATA_CODE
0,2015,1,1,4,2015-01-01 00:05:00,Alaska Airlines Inc.,98,N407AS,ANC,SEA,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS
1,2015,1,1,4,2015-01-01 00:10:00,American Airlines Inc.,2336,N3KUAA,LAX,PBI,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA
2,2015,1,1,4,2015-01-01 00:20:00,US Airways Inc.,840,N171US,SFO,CLT,...,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,US
3,2015,1,1,4,2015-01-01 00:20:00,American Airlines Inc.,258,N3HYAA,LAX,MIA,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AA
4,2015,1,1,4,2015-01-01 00:25:00,Alaska Airlines Inc.,135,N527AS,SEA,ANC,...,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,AS